<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @guardian.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @guardian.last_name %>
</p>

<p>
  <strong>Work phone:</strong>
  <%= @guardian.work_phone %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @guardian.home_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @guardian.email %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @guardian.profession %>
</p>

<%= link_to 'Edit', edit_guardian_path(@guardian) %> |
<%= link_to 'Back', guardians_path %>
