<!DOCTYPE html>
<!-- saved from url http://www.bootstraptor.com ####################################################################
Don't remove this attribution.
This template build on DevKit http://www.bootstraptor.com
##########################################################################
-->
<html lang="en">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Base page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

<!-- Le styles -->
<!-- Latest compiled and minified CSS BS 3.0. -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<!--<link href="assets/css/theme.css" rel="stylesheet">-->

<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

<!--[if lt IE 7]>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css" rel="stylesheet">
	<![endif]-->
    <!-- Fav and touch icons -->

    <!-- Le styles -->
<!-- GOOGLE FONT-->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700italic,700,500&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<!-- /GOOGLE FONT-->
<!-- SOME BOOTSTRAP OVERRIDES STYLES -->

<style type="text/css">
      body {
        padding-top: 0px;
        padding-bottom: 0px;
		background:#e0e0e0;
      }
		.wrapper{
		max-width:1210px;
		display:block;
		margin-right:auto;
		margin-left:auto;
		background:#fff;
	}

	.container{
		padding:0px 20px;
	}

	.navbar {
		margin-bottom: 0px;
		border-radius:0px;
	}

	header .jumbotron{
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		border-right:0px;
		border-left:0px;
		background-color:#358cce;
		color:#fff;
	}

	.sub{
		padding:30px 0px 30px;
	}

	.totop{
		margin-top:0px;
	}



	h1 {
		font-size: 32.5px;
	}
	.attention h2, .attention h3{
		font-size:30px;
	}

	p{
		text-align:justify;
	}

	.thumbnail{
		margin-bottom:30px;
	}

	.thumbnail img{
		min-width:100%;
	}
	footer{
    text-align:center;
		padding-top:40px;
		margin-top:40px;
		border-top:1px solid #dedede;
		background:#282828;
		color:#fff;
	}
	footer a{
		color:#fff;
	}
	.related-projects{
		padding-top:20px;
		margin-top:20px;

	}

	@media (max-width: 979px){
		.navbar .btn-navbar {
			margin-top:20px;
		}
	}

	@media (max-width: 767px){
		.container {
			padding-right:20px;
			padding-left:20px;
		}
	}


    </style>




<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

<body>

<!-- MAIN WRAPPER class="wrapper" max-width="1110px"-->
<div class="wrapper">
<header>
</header>


<div class="container sub">
    <!-- row-fluid-->
    <div class="row">
	<!-- FIX Bootstrap z-index on mobiles for .pull-right normalize -->
		<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 pull-right" style="z-index:1020;">

			<div id="carousel-example-generic" class="carousel slide">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
				<div class="item active">
          <img src="http://drmommyonline.com/hub/wp-content/uploads/2013/05/studying.jpg" alt="item1">
				 <!-- <img src="/app/assets/images/avafour.jpg" alt="item1"> -->
				  <div class="carousel-caption">
					<p></p>
				  </div>
				</div>

        <div class="item">
          <img src="http://stateimpact.npr.org/florida/files/2011/11/sat-subject-test2.jpg" alt="item3">
          <div class="carousel-caption">
          <p></p>
          </div>
        </div>

				<div class="item">
				  <img src="http://edtechtimes.com/wp-content/uploads/2013/06/C2-FB-Logo_full.jpeg" alt="item2">
				  <div class="carousel-caption">
					<p></p>
				  </div>
				</div>

			  </div>

				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
					<span class="icon-prev"></span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
					<span class="icon-next"></span>
				  </a>
			</div>
				<hr>
		</div>
		<!-- / .col-*-7-->
		  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
			<div class="well">
				<h2>ABOUT C2</h2>
				<p class="">C2 Education is a for-profit company based in Duluth, Georgia, that provides subject, SAT, PSAT, ACT, ESL, and specialized tutoring for a wide spectrum of students ranging from kindergartners to graduate school applicants. C2 was founded by David Kim and Jim Narangajavana in 1997 as a private tutoring service and opened its first center in Lutherville-Timonium, Maryland, in 2000. It currently has 110 centers and 440 tutors globally, with an annual revenue of approximately $50 million. </p>
			</div>
			<p class="lead">
				Click on any of the categories below to access, update, or view the desired information about the C2 Timonium Center.
			</p>
			<p>
			Center Name: Timonium Center<br><br>
			Center Director: Dianne Kim<br><br>
			Address:
			2080 York Road, Suite 235<br>
		  Timonium, Maryland 21093<br>
		  410 308 1100

			</p>
		  </div>
	</div>
</div>


<div class="container sub">
      <!-- Example row of columns -->
      <div class="row">

         <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="well">
          <h4 class="text-center"><i class="icon-fullscreen"></i> STUDENT QUERIES</h4>
        <p>Quickly find information about a student. </p>
        <p><%= link_to 'Student Queries', student_searches_path, class: "btn btn-default" %>
        </p>
      </div>
        </div>

         <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="well">
          <h4 class="text-center"><i class="icon-fullscreen"></i> EMPLOYEE QUERIES</h4>
        <p>Quickly find information about an employee. </p>
        <p><%= link_to 'Employee Queries', student_searches_path, class: "btn btn-default" %>
        </p>
      </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="well">
          <h4 class="text-center"><i class="icon-fullscreen"></i> PAYROLL AND BUDGET</h4>
        <p>Enter the details of a payment transaction for a student. </p>
        <p><%= link_to 'Daily Data', new_daily_data_payment_path, class: "btn btn-default" %>
        </p>
      </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="well">
          <h4 class="text-center"><i class="icon-fullscreen"></i> DAILY DATA</h4>
				<p>Enter the details of a payment transaction for a student. </p>
				<p><%= link_to 'Daily Data', new_daily_data_payment_path, class: "btn btn-default" %>
				</p>
		  </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="well">
				<h4 class="text-center"><i class="icon-fullscreen"></i> SESSIONS</h4>
					<p>Enter or view the scheduling details for a given day. </p>
					<p><%= link_to 'Sessions', sessions_path, class: "btn btn-default" %>
        </p>
			</div>
	   </div>

	   <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="well">
          <h4 class="text-center"><i class="icon-fullscreen"></i> EMPLOYEE CONTRACTS</h4>
				<p>Create, edit, or search for employee contracts. </p>
				<p><%= link_to 'Employee Contracts', employee_contracts_path, class: "btn btn-default" %>
        </p>
		  </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="well">
				<h4 class="text-center"><i class="icon-fullscreen"></i> TRANSFER STUDENT HOURS</h4>
					<p>Transfer student hours and view records of those transfers. </p>
					<p><%= link_to 'Student Hour Transfers', student_hour_transfers_path, class: "btn btn-default" %>
        </p>
			</div>
	   </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="well">
				<h4 class="text-center"><i class="icon-fullscreen"></i> RESOURCE QUERIES</h4>
					<p>Find information about resources, school contacts, and books purchased by students.
          </p>
					<p><%= link_to 'Resources', resource_searches_path, class: "btn btn-default" %>
        </p>
			</div>
	   </div>

	</div>
</div>
<!-- CONTAINER-->

<div class="container">
 <!-- related projects -->
<div class="row related-projects">

<div class="col-sm-12 col-lg-12">
	<h3>QUICK UPDATES</h3>
</div>

 <!-- ITEM -->
 <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
	<div class="thumbnail">
        <!-- IMAGE CONTAINER-->
        <img src="http://www.evolllution.com/wp-content/uploads/2013/07/Busy-Student.jpg" alt="">
		<!--END IMAGE CONTAINER-->
		<!-- CAPTION -->
		<div class="caption">
			<h4 class="text-center">ADD A STUDENT</h4>
			<p>
        <%= link_to(new_student_path, :class => 'btn btn-block btn-primary') do %>
        <i class="icon-link icon-large"> </i>
        <% end %>
			</p>
		</div>
		<!--END CAPTION -->
	</div>
<!-- END: THUMBNAIL -->
</div>
<!-- END ITEM -->

<!-- ITEM -->
 <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
  <div class="thumbnail">
        <!-- IMAGE CONTAINER-->
        <img src="http://www.biomasspackaging.com/Products/331-01975A-Kitchen-Roll-Towel.jpg" alt="">
    <!--END IMAGE CONTAINER-->
    <!-- CAPTION -->
    <div class="caption">
      <h4 class="text-center">ENTER A SUPPLY</h4>
      <p>
      <%= link_to(new_supply_path, :class => 'btn btn-block btn-primary') do %>
        <i class="icon-link icon-large"> </i>
        <% end %>
      </p>
    </div>
    <!--END CAPTION -->
  </div>
<!-- END: THUMBNAIL -->
</div>
<!-- END ITEM -->

<!-- ITEM -->
 <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
	<div class="thumbnail">
        <!-- IMAGE CONTAINER-->
        <img src="http://revolutionarypaideia.files.wordpress.com/2011/02/black-teacher-man.jpg" alt="">
		<!--END IMAGE CONTAINER-->
		<!-- CAPTION -->
		<div class="caption">
			<h4 class="text-center">ADD AN EMPLOYEE</h4>
			<p>
      <%= link_to(new_employee_path, :class => 'btn btn-block btn-primary') do %>
        <i class="icon-link icon-large"> </i>
        <% end %>
      </p>
			<p></p>
		</div>
		<!--END CAPTION -->
	</div>
<!-- END: THUMBNAIL -->
</div>
<!-- END ITEM -->

<!-- ITEM -->
 <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
	<div class="thumbnail">
        <!-- IMAGE CONTAINER-->
        <img src="http://www.readcwbooks.com/books.jpg" alt="">
		<!--END IMAGE CONTAINER-->
		<!-- CAPTION -->
		<div class="caption">
			<h4 class="text-center">ENTER A RESOURCE</h4>
			<p>
      <%= link_to(new_resource_path, :class => 'btn btn-block btn-primary') do %>
        <i class="icon-link icon-large"> </i>
        <% end %>
      </p>
		</div>
		<!--END CAPTION -->
	</div>
<!-- END: THUMBNAIL -->
</div>
<!-- END ITEM -->



</div>
 <!-- related projects -->

</div> <!-- /container -->
<!--/ CONTENT -->

<!-- FOOTER-->
<footer class = "text-center">
<div class="container">
	<div class="row">
            <h4 class="line3 center standart-h4title">
    <span>Project Group Members</span></h4>
		<address>

			<i class="icon-map-marker"></i> Scott Copeland<br>
      <i class="icon-map-marker"></i>
			Sagar Raina<br>
      <i class="icon-map-marker"></i> Neekoo Torkian<br>
      <i class="icon-map-marker"></i> [Minshik Kang]<br>
      <i class="icon-map-marker"></i> Farzad Aziz

		</address>
    </div>



	<hr>

        <p>COSC 578 Database Final Project</p>
        <p>December 2013</p>

  </div><!-- CONTAINER FOOTER-->

</footer>
</div>
<!-- /end WRAPPER-->
    <!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.js" type="text/javascript"></script>


<!-- Latest compiled and minified JavaScript -->
<script src="assets/js/bootstrap.min.js"></script>

<script>
 $('.carousel').carousel()
</script>

</body>
</html>