<%= form_for(@session) do |f| %>
  <% if @session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <%= f.label :hours %><br>
    <%= f.text_field :hours %>
  </div>
  <div class="container">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="container">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="container">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time %>
  </div>
  <div class="container">
    <%= f.label :not_work_session, 'Not a work session?' %><br>
    <%= f.check_box :not_work_session %>
  </div>
  <div class="container">
    <%= f.label :student_id, 'Student'%><br>
    <%= f.select :student_id, options_for_select(@students) %>
  </div>
  <div class="container">
    <%= f.label :employee_id, 'Employee'%><br>
    <%= f.select :employee_id, options_for_select(@employees) %>
  </div>
  <br>
  <div class="container">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
