<div class = "container">
<h1>Listing Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Hours</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Work Session?</th>
      <th>Student</th>
      <th>Tutor</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr> <% student = Student.find(session.student_id) %>
        <% tutor = Employee.find(session.tutor_id) %>
        <td><%= session.hours %></td>
        <td><%= session.date %></td>
        <td><%= session.start_time %></td>
        <td><%= session.end_time %></td>
        <td><%= session.not_work_session %></td>
        <td><%= student.nickname %></td>
        <td><%= tutor.first_name %></td>
        <td><%= link_to 'Show', session %></td>
        <td><%= link_to 'Edit', edit_session_path(session) %></td>
        <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session', new_session_path, class: "btn btn-primary" %>

</div>
