<p id="notice"><%= notice %></p>

<p>
  <strong>Hours:</strong>
  <%= @session.hours %>
</p>

<p>
  <strong>Date:</strong>
  <%= @session.date %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @session.start_time %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @session.end_time %>
</p>

<p>
  <strong>Work Session?:</strong>
  <%= @session.not_work_session %>
</p>

<p>
  <strong>Student:</strong>
  <%= Student.find(@session.student_id).first_name %>
</p>

<p>
  <strong>Tutor:</strong>
  <%= Employee.find(@session.tutor_id).first_name %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
