<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="container">
    <%= f.label :middle_name %><br>
    <%= f.text_field :middle_name %>
  </div>
  <div class="container">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="container">
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname %>
  </div>
  <div class="container">
    <%= f.label :birthdate %><br>
    <%= f.datetime_select :birthdate %>
  </div>
  <div class="container">
    <%= f.label :ssn %><br>
    <%= f.text_field :ssn %>
  </div>
  <div class="container">
    <%= f.label :ethnicity %><br>
    <%= f.text_field :ethnicity %>
  </div>
  <div class="container">
    <%= f.label :interview_date %><br>
    <%= f.datetime_select :interview_date %>
  </div>
  <div class="container">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="container">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="container">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="container">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="container">
    <%= f.label :home_phone %><br>
    <%= f.text_field :home_phone %>
  </div>
  <div class="container">
    <%= f.label :cell_phone %><br>
    <%= f.text_field :cell_phone %>
  </div>
  <div class="container">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="container">
    <%= f.label :career_goals %><br>
    <%= f.text_area :career_goals %>
  </div>
  <div class="container">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="container">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
