<h1 class="container">Listing Contracts</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Enrollment date</th>
      <th>Final class date</th>
      <th>Final interim test</th>
      <th>Hours</th>
      <th>Amount paid</th>
      <th>Paid hours</th>
       <th>Used hours</th>
      <th>Remaining hours</th>
      <th>New or renew</th>
   <!--  <th>Dt date</th>
      <th>Dc date</th>
      <th>Dt amount</th>
      <th>Est class schedule</th>
      <th>Hrs per week</th>
      <th>Chart rate</th>
      <th>Tuition</th>
      <th>Dsc</th>
      <th>Program explanation</th> -->
      <th>Total money</th>
      <th>Student</th>
      <th>       </th>
      <th>       </th>
      <th>       </th>
    </tr>
  </thead>

  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.date %></td>
        <td><%= contract.enrollment_date %></td>
        <td><%= contract.final_class_date %></td>
        <td><%= contract.final_interim_test %></td>
        <td><%= contract.hours %></td>
        <td><%= contract.amount_paid %></td>
        <td><%= contract.paid_hours %></td>
        <td><%= contract.used_hours %></td>
        <td><%= contract.remaining_hours %></td>
        <td><%= contract.new_or_renew %></td>
      <!--  <td><%= contract.dt_date %></td>
        <td><%= contract.dc_date %></td>
        <td><%= contract.dt_amount %></td>
        <td><%= contract.est_class_schedule %></td>
        <td><%= contract.hrs_per_week %></td>
        <td><%= contract.chart_rate %></td>
        <td><%= contract.tuition %></td>
        <td><%= contract.dsc %></td>
        <td><%= contract.program_explanation %></td> -->
        <td><%= contract.total_money %></td>
        <td><%= contract.student.first_name %>
            <%= contract.student.last_name %></td>
        <td><%= link_to 'Show', contract %></td>
        <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
        <td><%= link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contract', contracts_find_student_path %>
