<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @contract.date %>
</p>

<p>
  <strong>Enrollment date:</strong>
  <%= @contract.enrollment_date %>
</p>

<p>
  <strong>Final class date:</strong>
  <%= @contract.final_class_date %>
</p>

<p>
  <strong>Final interim test:</strong>
  <%= @contract.final_interim_test %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @contract.hours %>
</p>

<p>
  <strong>Amount paid:</strong>
  <%= @contract.amount_paid %>
</p>

<p>
  <strong>Paid hours:</strong>
  <%= @contract.paid_hours %>
</p>

<p>
  <strong>Used hours:</strong>
  <%= @contract.used_hours %>
</p>

<p>
  <strong>Remaining hours:</strong>
  <%= @contract.remaining_hours %>
</p>

<p>
  <strong>New or renew:</strong>
  <%= @contract.new_or_renew %>
</p>

<p>
  <strong>Dt date:</strong>
  <%= @contract.dt_date %>
</p>

<p>
  <strong>Dc date:</strong>
  <%= @contract.dc_date %>
</p>

<p>
  <strong>Dt amount:</strong>
  <%= @contract.dt_amount %>
</p>

<p>
  <strong>Est class schedule:</strong>
  <%= @contract.est_class_schedule %>
</p>

<p>
  <strong>Hrs per week:</strong>
  <%= @contract.hrs_per_week %>
</p>

<p>
  <strong>Chart rate:</strong>
  <%= @contract.chart_rate %>
</p>

<p>
  <strong>Tuition:</strong>
  <%= @contract.tuition %>
</p>

<p>
  <strong>Dsc:</strong>
  <%= @contract.dsc %>
</p>

<p>
  <strong>Program explanation:</strong>
  <%= @contract.program_explanation %>
</p>

<p>
  <strong>Total money:</strong>
  <%= @contract.total_money %>
</p>

<p>
  <strong>Student:</strong>
  <%= @contract.student.first_name%> <%= @contract.student.last_name %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'List Contracts', contracts_path %>
