<%= form_for(@daily_datum) do |f| %>
  <% if @daily_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_datum.errors.count, "error") %> prohibited this daily_datum from being saved:</h2>

      <ul>
      <% @daily_datum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :referral_source %><br>
    <%= f.text_field :referral_source %>
  </div>
  <div class="field">
    <%= f.label :student_action %><br>
    <%= f.text_field :student_action %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :employee %><br>
    <%= f.text_field :employee %>
  </div>
  <div class="field">
    <%= f.label :student %><br>
    <%= f.text_field :student %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
