<div class = "container">
<h1>Resource Search Results</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Subject</th>
      <th>Receipt number</th>
      <th>Pages</th>
      <th>Publication year</th>
      <th>Purchase date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.title %></td>
        <td><%= resource.subject %></td>
        <td><%= resource.receipt_number %></td>
        <td><%= resource.pages %></td>
        <td><%= resource.publication_year %></td>
        <td><%= resource.purchase_date %></td>
        <td><%= link_to 'Show', resource %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource', new_resource_path, class: "btn btn-primary" %>

<br><br>

<p><%= link_to 'More Resource Queries', resource_searches_path, class: "btn btn-primary" %>
        </p>

</div>