<h1 class="container"> School and Resource Queries </h1>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <h3>School Queries</h3>
      <br>
      <%= render 'list_schools' %>
      <br><br>
      <%= render 'search_school_by_name' %>
      <br><br>

    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <h3>Resource Queries</h3>
      <br>
      <%= render 'list_resources' %>
      <br><br>
      <%= render 'search_resource_by_title' %>
      <br><br>
      <%= render 'search_resource_by_receipt_number' %>


    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <h3>Book Queries</h3>

    </div>



<!-- row -->
</div>