<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="container">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="container">
    <%= f.label :pages %><br>
    <%= f.number_field :pages %>
  </div>
  <div class="container">
    <%= f.label :publication_year %><br>
    <%= f.number_field :publication_year %>
  </div>
  <div class="container">
    <%= f.label :purchase_date %><br>
    <%= f.date_select :purchase_date, :start_year => 2000 %>
  </div>
  <div class="container">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
