<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @resource.title %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @resource.subject %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @resource.pages %>
</p>

<p>
  <strong>Publication year:</strong>
  <%= @resource.publication_year %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @resource.purchase_date %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
