<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :partial_payment %><br>
    <%= f.check_box :partial_payment %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :paymentable_id %><br>
    <%= f.number_field :paymentable_id %>
  </div>
  <div class="field">
    <%= f.label :paymentable_type %><br>
    <%= f.text_field :paymentable_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
