<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Partial payment:</strong>
  <%= @payment.partial_payment %>
</p>

<p>
  <strong>Date:</strong>
  <%= @payment.date %>
</p>

<p>
  <strong>Payment Type:</strong>
  <%= @payment.payment_type %>
</p>

<p>
  <strong>Paymentable:</strong>
  <%= @payment.paymentable_id %>
</p>

<p>
  <strong>Paymentable type:</strong>
  <%= @payment.paymentable_type %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
