<div class = "container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @school.contact %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @school.contact_phone %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'List Schools', schools_path %>

</div>
