<%= form_for(@employee_contract) do |f| %>
  <% if @employee_contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_contract.errors.count, "error") %> prohibited this employee_contract from being saved:</h2>

      <ul>
      <% @employee_contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="container">
    <%= f.label :contract_date %><br>
    <%= f.date_select :contract_date %>
  </div>
  <div class="container">
    <%= f.label :employee_id %><br>
    <%= f.select :employee_id, options_for_select(@employees) %>
  </div>
  <div class="container">
    <%= f.label :pay_rate %><br>
    <%= f.text_field :pay_rate %>
  </div>
  <div class="container">
    <%= f.label :category  %><br>
    <%= f.select :category, options_for_select(%w[Tutor Staff Director]) %>
  </div>
  <br/>
  <div class="container">
    <%= f.submit "Create Employee Contract", class: "btn btn-primary" %>
  </div>
<% end %>
