<%= form_for(@employee_contract) do |f| %>
  <% if @employee_contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_contract.errors.count, "error") %> prohibited this employee_contract from being saved:</h2>

      <ul>
      <% @employee_contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :contract_date %><br>
    <%= f.datetime_select :contract_date %>
  </div>
  <div class="field">
    <%= f.label :employee %><br>
    <%= f.text_field :employee %>
  </div>
  <div class="field">
    <%= f.label :pay_rate %><br>
    <%= f.text_field :pay_rate %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
