<div class = "container">
<h1>Employee Contracts</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>Contract date</th>
      <th>Employee</th>
      <th>Pay rate</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_contracts.each do |employee_contract| %>
      <tr>
        <td><%= employee_contract.start_date %></td>
        <td><%= employee_contract.contract_date %></td>
        <td><%= employee_contract.employee.first_name %></td>
        <td><%= employee_contract.pay_rate %></td>
        <td><%= employee_contract.category %></td>
        <td><%= link_to 'Show', employee_contract %></td>
        <td><%= link_to 'Edit', edit_employee_contract_path(employee_contract) %></td>
        <td><%= link_to 'Destroy', employee_contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee Contract', new_employee_contract_path, class: "btn btn-primary"%>

</div>
