<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @daily_data_payment.date %>
</p>

<p>
  <strong>Daily data paymentable type:</strong>
  <%= @daily_data_payment.daily_data_paymentable_type %>
</p>

<p>
  <strong>Daily data paymentable:</strong>
  <%= @daily_data_payment.daily_data_paymentable_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @daily_data_payment.amount %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @daily_data_payment.payment_type %>
</p>

<p>
  <strong>Partial payment:</strong>
  <%= @daily_data_payment.partial_payment %>
</p>

<p>
  <strong>Referral source:</strong>
  <%= @daily_data_payment.referral_source %>
</p>

<p>
  <strong>Student action:</strong>
  <%= @daily_data_payment.student_action %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @daily_data_payment.notes %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @daily_data_payment.rate %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @daily_data_payment.hours %>
</p>

<%= link_to 'Edit', edit_daily_data_payment_path(@daily_data_payment) %> |
<%= link_to 'List Daily Data Payments', daily_data_payments_path %>
