<h1 class="container"> Employee and Payroll Queries </h1>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <h3>Employee Queries</h3>

      <%= render 'employee_contracts' %>
      <br>
      <%= render 'search_emp' %>
      <br>
      <%= render 'search_active' %>

    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <h3>Payroll Queries</h3>
      <br>
      <%= render 'search_indiv_hours_worked' %>


    </div>

    <%= render 'shared/employee_pic' %>

    </div>



<!-- row -->
</div>