
<div class="row">


        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"> </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <h1>Student Hour Transfers</h1>
<table>
  <thead>
    <tr>
      <th>Date transferred</th>
      <th>Hours transferred</th>
      <th>Student from</th>
       <th>Student to</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @student_hour_transfers.each do |student_hour_transfer| %>
      <tr>
        <td><%= student_hour_transfer.created_at.to_date %> </td>
        <td><%= student_hour_transfer.hours_transferred %></td>
        <td><%= (Student.find(student_hour_transfer.student_from_id)).nickname %></td>
         <td><%= (Student.find(student_hour_transfer.student_to_id)).nickname %></td>
        <td><%= link_to 'Show', student_hour_transfer %></td>
        <td><%= link_to 'Edit', edit_student_hour_transfer_path(student_hour_transfer) %></td>
        <td><%= link_to 'Destroy', student_hour_transfer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Hour Transfer', new_student_hour_transfer_path, class: "btn btn-primary" %>

</div>

</div>
