<div class = "container">
<h1>Listing Parents/Guardians of the Student</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Work phone</th>
      <th>Home phone</th>
      <th>Email</th>
      <th>Profession</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @guardians.each do |guardian| %>
      <tr>
        <td><%= guardian.first_name %></td>
        <td><%= guardian.last_name %></td>
        <td><%= guardian.work_phone %></td>
        <td><%= guardian.home_phone %></td>
        <td><%= guardian.email %></td>
        <td><%= guardian.profession %></td>
        <td><%= link_to 'Show', guardian %></td>
        <td><%= link_to 'Edit', edit_guardian_path(guardian) %></td>
        <td><%= link_to 'Destroy', guardian, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'More Relative Queries', student_searches_student_relatives_path, class: "btn btn-primary" %>
</div>