<h1 class = "container">Student Queries</h1>
<div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

<%= render 'remaining_hours' %>

<br/>

<%= render 'used_hours_over_time_period' %>

<br/>

<%= render 'student_payments' %>

<br/>

<%= render 'group_hours' %>





<%= render 'shared/student_pic' %>

</div>




