<h1 class = "container">List of Payments</h1>
<div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

<h3 class = "container"> <%= @student.first_name %> <%= @student.last_name %> has paid a total of <%= number_to_currency(@total) %>. </h3>

  <p>
  <table class = "container">
  <thead>
    <tr>
      <th>Date </th>
      <th>Amount</th>
      <th>Hours</th>
    </tr>
  </thead>

  <tbody>
    <% @payments_data.each do |pay| %>
      <tr>
        <td><%= pay[0] %> </td>
        <td><%= number_to_currency(pay[1]) %></td>
        <td><%= pay[2] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </p>

<p><%= link_to 'More Student Queries', student_searches_path, class: "container btn btn-primary" %>
        </p>

<%= render 'shared/student_pic' %>

</div>